body{
    background-color: #f0e2d0;
    /* #5a564d */
}

p{
    color: #7e6647;
    font-size: 20px;
}

h1{
    text-align: center;
}

#score{
    text-align: center;
}

.clear{
    clear: both;
}
#size-bloc{
    margin-left: -50px;
    padding-left: 50%;
}

#size-title{
    float: left;
    margin-top: 0px;
}

#size{
    width: 50px;
    margin-left: 10px;
    border-radius: 3px;
}

#canvas{
    background-color: #ffdf90;
}

#canvas-block{
    margin-left: -250px;
    padding-left: 50%;
}
